<div class="app-header">
    <span class="header-trigger" (click)="handleToggle()">
        <i class="trigger"
           nz-icon
           [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        ></i>
    </span>
    <span>
        <a nz-dropdown [nzDropdownMenu]="menu">
            Hi, Sean
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>My Profile</li>
              <li nz-menu-item>Log Out</li>
            </ul>
          </nz-dropdown-menu>
    </span>
</div>
